<script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = [
<% ResearchArea.all.each do |area| %>
{text: "<%=area.name %>", weight: <%=area.publications.count %>, link: "<%=research_area_path(area) %>"},
<% end %>
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array, {width: 800, height: 550});
      });
    </script>

<div id="example" style="width: 800px; height: 550px;"></div>
